.Pagination__button {
  width: 15px;
  height: 20px;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pagination__button:hover {
  background-color: #E1E1E1;
}

.Pagination__button-active {
  background-color: #000000;
  color: #FFFFFF;
}
