/* Контрол с общими действиями */
.Controls{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.Controls__total{
  display: flex;
  align-items: center;
  width: auto;
  white-space: nowrap;
  padding: 0 10px;
  font-weight: 700;
}
.Controls__button{
  width: 80px;
}